    /* Grid Container */
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Trois colonnes égales */
    gap: 1rem; /* 4 */
    grid-auto-rows: minmax(100px, 100%); /* Hauteur minimale de 100px, hauteur maximale automatique */

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr; /* Une seule colonne */
      grid-auto-rows: auto; /* Hauteur automatique */
    }
  }
  
  /* Card */
  .cardRecommandation {
    position: relative;
    height: 100%;
    background-color: #1a202c; /* Gray-900 */
    border-radius: 0.375rem; /* Rounded-lg */
    border: 1.7px solid rgba(200, 137, 230, 0.637) !important;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    font-size: 1rem; /* Base text size */
    width: 100%;
  }
  
  /* Quote */
  .quote {
    position: relative;
  }
  
  /* Quote Content */
  .quote-content {
    border-radius: 0.375rem 0.375rem 0 0;
    padding: 1.25rem 1.25rem 1.875rem 2rem; /* 5 5 7 8 */
  }
  
  /* Flex Row */
  .flex-row {
    display: flex;
  }
  
  /* Cite */
  .cite {
    display: flex;
    align-items: center;
    border-radius: 0 0 0.375rem 0.375rem;
    font-style: normal;
  }
  
  /* Image Container */
  .image-container {
    flex-shrink: 0;
    transition: transform 0.5s ease-in-out;
    transform-origin: center;
    margin-right: 1rem; /* 4 */
  }
  
  .image-container:hover {
    transform: translateY(-1px) scale(1.1);
  }
  
  /* Profile Image */
  .profile-image {
    width: 2rem; /* 8 */
    height: 2rem; /* 8 */
    border-radius: 50%; /* Rounded-full */
    background-color: #000; /* Black */
  }
  
  /* Profile Info */
  .profile-info {
    color: #4b0082; /* Indigo-600 */
    font-weight: 600; /* Semibold */
    padding: 0.5rem 0;
  }
  
  /* Profile Name */
  .profile-name {
    color: #f7fafc; /* Gray-200 */
    font-weight: 600; /* Semibold */
  }
  
  /* Content */
  .content {
    position: relative;
    font-size: 0.875rem; /* Text-sm */
    color: whitesmoke; /* Gray-300 */
    font-weight: 500; /* Medium */
    margin-top: 1rem; /* 4 */
  }
  
  /* Quote Icon */
  .quote-icon {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-0.75rem, -0.5rem); /* -3 -2 */
    width: 2rem; /* 8 */
    height: 2rem; /* 8 */
    color: #4a5568; /* Gray-300 */
  }
  
  /* Quote Text */
  .quote-text {
    position: relative;
  }
  